<!-- <mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark">
  <mdb-navbar-brand>
    <a class="navbar-brand" href="http://troodontechnology.com/">
      <img src="assets/img/TROOWORK.png" style="width: 10rem;">
    </a>
  </mdb-navbar-brand>
</mdb-navbar>
<div style="padding-left: 25rem;padding-right: 25rem;overflow-x: hidden;height: 76%">
  <div style="text-align:center">
    <h4 style="text-align:center"><b>USER WORK REQUEST</b></h4>
  </div>
  <br>
  <div style="background-color: white !important; padding-bottom: 2rem;padding-top: 2rem">
    <label style="margin-left: 18%">Comments</label>
    <textarea class="form-control col-md-12 col-sm-12" maxlength="200" [(ngModel)]="comments" rows="5"  style="margin-left: 18%"></textarea>
  </div>
  <br>
  <div class="row col-md-12" style="margin-left: 19rem;">
    <div style="text-align:center">
      <button type="button" style="text-align:center" class="btn btn-success" [disabled]="fileCheck"
        (click)="inspectionCompleted();FileSelected();"><b>SUBMIT</b></button>
    </div>
  </div>
  <br>
</div>
<div class="container bg-footer" style="width: 102%;max-width:102%;">
  <div class="row">
    <div class="col-md-12 mt-3">
      <p class="text-sm-center">
        © 2018 TrooWork - All Rights Reserved /Privacy Policy/ Sitemap
        <br>
      </p>
    </div>
  </div>
</div> -->


<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark">
  <mdb-navbar-brand>
    <a class="navbar-brand" href="http://troodontechnology.com/">
      <img src="assets/img/TROOWORK.png" style="width: 10rem;">
    </a>
  </mdb-navbar-brand>
</mdb-navbar>

<div style="padding-left: 25%;padding-right: 25%; padding-top:0% !important; padding-bottom:0% !important;">
  <div class="row col-md-12 ">
    <h4 style="margin-left: 12%;">USER WORK REQUEST</h4>
  </div><br>
  <br>
  <div class="row bg-info col-md-12">
    <div class="form-group">
      <label>Comments</label>
      <textarea class="form-control rounded-1 " maxlength="85" rows="5" cols="100" [(ngModel)]="AddressLine1"
        placeholder="Address Line1" id="exampleFormControlTextarea1"></textarea>
    </div>
  </div>
  <br>
</div>
<div style="padding-left: 2%;padding-top:0% !important; padding-bottom:0% !important;">
  <br>
  <div class="row col-md-12">
    <button type="button" style="margin-left: 27%;" class="btn btn-success" (click)="createEmployee();"><b>CREATE
        EMPLOYEE</b></button>
  </div>
</div>

<div class="container bg-footer" style="width: 102%;max-width:102%;">
  <div class="row">
    <div class="col-md-12 mt-3">
      <p class="text-sm-center">
        © 2018 TrooWork - All Rights Reserved /Privacy Policy/ Sitemap
        <br>
      </p>
    </div>
  </div>
</div>