<br><br>
<div style="text-align:center">
  <h3><strong>CREATE NEW FLOOR</strong></h3>
</div>
<br><br><br>
<div class="form-row mb-4">
  <div class="col"></div>
  <div class="col"></div>
  <h5><label for="building">Building</label></h5>
 
    <div class="md-form">

      <select [(ngModel)]="FacilityKey">
        <option >--Select--</option>
        
        <option *ngFor="let f of flooroptions" [value]="f.FacilityKey">
            {{f.FacilityText}}
        </option>
    </select>
    </div>
    <h5><label for="floorname">Floor Name</label></h5>
 
    <div class="md-form">

      <input type="text"  class="form-control" mdbInputDirective [(ngModel)]="FloorName">
    </div>
    
    <h5><label for="floorname">Floor Description</label></h5>
 
    <div class="md-form">

      <input type="text"  class="form-control" mdbInputDirective [(ngModel)]="FloorDescription">
    </div>
    <br><br>
    <div class="col">
      <div style="text-align:center"><a routerLink="/Floorview" class="btn btn-primary" routerLinkActive="active" (click)="addFloor(FacilityKey,FloorName,FloorDescription)">Create
          Floor
        </a>
        <div style="text-align:center"><a routerLink="/Floorview" class="btn btn-primary" routerLinkActive="active">Go Back</a></div>
      </div>
    </div>
 
  <div class="col"></div>
  <div class="col"></div>

</div>
