<!--<table class="table table-hover">
  <thead>
  <tr>
      <td>Message</td>
      <td>Game Price</td>
      <td colspan="2">Actions</td>
  </tr>
  </thead>

  <tbody>
      <tr *ngFor="let game of games">
          <td>{{ game.Message }}</td>
          <td>{{ game.price }}</td>
          <td><a [routerLink]="['/edit', game._id]" class="btn btn-primary">Edit</a></td>
          <td><a [routerLink]="" class="btn btn-danger">Delete</a></td>
      </tr>
  </tbody>
</table>-->
<nav class="nav back_color ">
  <div class="col-md-3 col-sm-3">
    <h1 class=' font-weight-bold text1'>troo</h1>
      <h1 class='text2'>works</h1>
    
  </div>
   
    <div class='col-md-6  col-sm-6 float-left'></div>
    <div class='col-md-3  col-sm-3 float-left'>
        <button mdbBtn type="button" color="light-green" rounded="true" size="sm" class="waves-light " mdbWavesEffect>Watch Demo Video</button>
        <button  mdbBtn type="button" color="dark-green" rounded="true" size="sm" class="waves-light " mdbWavesEffect>Try</button>
        <div class=" col-md-12  col-sm-12"></div>
        <a class='col-md-3  col-sm-3'>ABOUT US</a>
        <a class='col-md-3  col-sm-3'>BLOG</a>
        <a class='col-md-3  col-sm-3'>CONTACT</a>
        <div class="col-md-3  col-sm-3"><i class="fa fa-search " aria-hidden="true"></i></div>
    </div>

</nav>
<div class=" back_color">
  <div class="row  In_margin">
    <div class="col-md-6 ">
      <h1>Accountability Through Data for Healthcare Services </h1>
      <div class=" col-md-12  col-sm-12"></div>
      <p>
        we help you to understand what your provides are engaged with so you can shape your schedule to an service that is healing and nurturing. Learn more.
      </p>
    </div>
    <div class=" col-md-6 trooworklogo"> <img src="assets/img/TrooWork-sticker-str.png" class="img-fluid" alt="Responsive image" /></div>
  </div>
</div>
<div class="row In_margin">

    <div class="col-md-6 trooworklogo"> <img src="assets/img/landingimage-3.png" class="img-fluid" alt="Responsive image" /></div>
    <div class="col-md-6">
        <h1>Our Story and Mission </h1>
        <div class=" col-md-12  col-sm-12"></div>
        TrooWork is a program that has been created to greatly aid Housekeping and Environmental Services leaders to maximize the productivity of their workforce.
        TrooWork is a Cloud based web application that provides real time data through barcode scanning, photo uploads, custimizable supervisory inspection modules,location monitoring of staff members via GPS,
        and many other helpful tools. The program has been developed with the end user in mind by considering technologically challenged staff members.
    </div>
</div>
<div class="row In_margin">
    <div class="col-md-6">
        <h1>Why TrooWork </h1>
        <div class=" col-md-12  col-sm-12"></div>
        Simple to operate user interface with front line staff as the number one priority
        Advanced filter operations utilizing multiple criteria for viewing data
        Easy to search daily work order progress reports
        Ensuring work is completed by actually putting the employee in the work area through barcode placement
        Locate employees geographically via GPS tracking
        Tracking and scheduling of employees events, trainings and meetings
        On the fly inspection through customizable templates with real time reports generated and send to staff members via email
        Multiple application interfaces for manager, supervisor and staff members
    </div>
    <div class="col-md-6"> <img src="assets/img/TrooWork-sticker-str.png" class="img-fluid" alt="Responsive image" /></div>

</div>
<div class=" back_color">
  <div class="row  In_margin">

    <div class="col-md-6"> <img src="assets/img/TrooWork-sticker-str.png" class="img-fluid" alt="Responsive image" /></div>
    <div class="col-md-6">
      <h1>Robust, accesible and simple</h1>
      <div class=" col-md-12  col-sm-12"></div>
      TrooWork has been designed for use with Apple devices such as iPhone,iPad and iPods. The application is compatible for
      all above listed devices running iOS 8.0 and above. The program has been created with the end user in mind, attempting to
      be as simple,efficient and straight forward as possible.
    </div>
  </div>
</div>
