.trooworklogo{
    width: 50%;
   height:50%;
}
.back_color {
  background-color: #EBFAFF !important;
}
.text1 {
  color: #90d849;
}
.text2 {
  color: #62b5c3;
  font-size: 22px;
  margin-top: -6%;
  margin-left: 2%;
}

.In_margin {
  padding: 7% 7% 7% 7%;
}
